[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eyed3 = "*"
urwid = "*"
python-vlc = "*"
requests = "*"
pillow = "*"
spotipy = "*"
youtube-dl = "*"

[dev-packages]

[requires]
python_version = "3.10"
